/* Fonts */
.icelandFont{
    font-family: 'Iceland', cursive;
}

.titleFont, h1{
    font-family: 'Bangers', cursive;
    color: #000F08;

}

/* Color text */
.textWhite{
    color: white;
}

body{
    margin: 0;
}


/* Header */
header{
    display: flex;
    justify-content: space-between;
    background-color: #000F08;
}

.titleHeader{
padding-left: 30px;
}


/* Lien */
a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline 2px;
}

h1{
    margin: 0;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
}

/* Footer */

footer{
    display: flex;
    justify-content: center;
    background-color: #000F08;
}

main{
    margin: O;
    background-color: #9CAEA9;
}

/* Main */


#refreshingIcon{
    width: 50px;
    height: auto;
    padding-left: 100px;
}

#feed{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.blagues{
    width: 500px;
    height: auto;
    margin: 20px;
    padding: 20px;
    background-color: #CCDAD1;
    border: 5px solid #000F08;
    border-radius: 20px;

    position: relative;
}


/* Caroussel */

.fotorama{
display: flex;
justify-content: center;
}

/* Menu DropDown */

.dropdown {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    background: #CCDAD1;
    border: solid 1px #000F08;
    width: 200px;
    margin: 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
  }
  .icon {
    display: flex;
    justify-content: space-between;
    padding: 0 25px 0 10px;
  }
  .menu {

    height: 160px;
  }
  .menu li {
    font-size: 20px;
    padding: 14px 10px;
    border-top: solid 1px #000F08;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: #000F08;
  }

  .dropdown.closed .menu {
    height: 0px;
  }
  .dropdown.closed .icon span {
    transform: rotate(180deg);
  }


/* Formulaire Index */

.form{
  display: flex;
  justify-content: center;
  padding: 5px;
}

#form{
  border: 4px solid;
  border-radius: 50px;
  background-color: #CCDAD1;
  margin: 20px 200px;
  padding: 10px 0px;
}

/* Formulaire gallerie */

.divContainerFormGallery{
  display: flex;
  justify-content: center;
}

.divContainerFormGalleryNone{
  display: none;
}

#divFormGallery{
  border: 4px solid;
  border-radius: 50px;
  background-color: #CCDAD1;
  padding: 1% 0%;
  margin: 1% 0%;
  height: auto;
  width: 50%;
}

/* Gallery image */


.imgGalleryMosaic{
  height: auto;
  width: 40%;
  margin: 5px;

}

.imgGalleryColumn{
  height: auto;
  width: 50%;
  margin: 5px;

}

.imgGallery{
  max-width: 100%;
  max-height: 100%;
}


#imgGallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.crossRemove{
width: 5%;
height: auto;
position: absolute;
top: 5px;
right: 5px;
cursor: pointer;
}

.remove{
  position: relative;
}


/* Icon Gallery */

.iconGalleryMosaic{
  width: 5%;
  height: auto;
  cursor: pointer;
}

.iconGalleryColumn{
  width: 5%;
  height: auto;
  cursor: pointer;
}

.iconGalleryAdd{
  width: 5%;
  height: auto;
  cursor: pointer;
}

#divIconGallery{
  display: flex;
  justify-content: space-evenly;
  margin: 4%;
}


/* Jeu */

body{
  text-align: center;
}

#jeu{
  display: grid;
  /* Nombre de colonne de la grille */
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  /* Centrer la grille */
  margin: auto;
}

.case{
  border: 1px solid black;
  height: 100px;
  line-height: 100px;
  font-size: 60px;
}